/* Copyright © 2024 Ory Corp */
/* SPDX-License-Identifier: Apache-2.0 */

body {
  min-height: 100vh;
  background: var(--ory-theme-background-canvas);
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 100%;
  padding-top: 4rem;
}

@media screen and (min-width: 48em) {
  #root {
    max-width: 48em;
  }
}

@media screen and (min-width: 64em) {
  #root {
    max-width: 64em;
  }
}

@media screen and (min-width: 80em) {
  #root {
    max-width: 80em;
  }
}

@media screen and (min-width: 96em) {
  #root {
    max-width: 96em;
  }
}
