/* Copyright © 2024 Ory Corp */
/* SPDX-License-Identifier: Apache-2.0 */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("inter/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("inter/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("inter/Inter-SemiBold.woff?v=3.19") format("woff");
}
