html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  display: flex;

  align-items: center;
  align-content: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

.content {
  padding-left: 18.75rem;
  margin-right: 18.75rem;
}

p {
  line-height: 1.5;
  margin-top: 1em;
  font-size: 1.1em;
}

h1 {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

#settingsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  color: #2b2b2b;
  padding: 30px;
  border-radius: 20px;
}

/* only manage the nav */
.main-nav {
  min-width: 18.75rem;
  position: fixed;
  height: auto;
  z-index: 1;
  padding-top: 2rem;
  top: 0;
  left: 0;
}

.main-nav > a:hover {
  color: #2b2b2b !important;
  text-decoration: underline !important;
}

#settingsForm h3 {
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #ededed;
    background: #2b2b2b;
  }
}

@media only screen and (min-width: 769px) {
  .main-nav > ul {
    margin-top: 0;
  }

  .main-nav > div:first-of-type {
    margin-top: 2rem;
  }

  .contentContainer {
    margin-left: 18.75rem;
  }
}
