name: Playwright E2E Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install dependencies
        run: npm ci
      - name: Lerna initialize
        run: npm run initialize
      - name: Lerna build
        run: npm run build:clean
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Install Ory CLI
        run: make .bin/ory
      - name: Run examples/react-spa tests
        run: cd examples/react-spa && npm run test
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: react-spa playwright-report
          path: |
            examples/react-spa/playwright-report/
            examples/react-spa/test-results/
          retention-days: 7
